[submodule "lib/opensky-api"]
	path = lib/opensky-api
	url = https://github.com/openskynetwork/opensky-api
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/pistache"]
	path = lib/pistache
	url = https://github.com/pistacheio/pistache.git
[submodule "src/simulation_flock/BoidsWebGPU"]
	path = src/simulation_flock/BoidsWebGPU
	url = https://github.com/onrdmr/BoidsWebGPU.git
